{% load custom_filters %}

<form method="post" action="{% url 'poll_details' poll.id %}">
    {% csrf_token %}

    {% for option in vote_options %}
        <h5>{{ option }}</h5>
        <input type="radio" name="proposal_{{ option.id }}" value="oui" id="oui_{{ option.id }}"
        {% if user_votes_dict|get_item:option.id == 'oui' %}checked{% endif %}>
            <label for="oui_{{ option.id }}">Oui</label>
            <input type="radio" name="proposal_{{ option.id }}" value="non" id="non_{{ option.id }}"
        {% if user_votes_dict|get_item:option.id == 'non' %}checked{% endif %}>
            <label for="non_{{ option.id }}">Non</label>
    {% endfor %}
    <button type="submit">Voter</button>
</form>