<form method="post" action="{% url 'poll_details' poll.id %}">

    {% csrf_token %}
    {% for option in vote_options %}
        <div>
            <label>{{ option }}</label>
            {% if poll.category == 'intendance' %}
                {% include 'poll_votes/intendance.html' %}

            {% elif poll.category == 'meal' %}
                {% include 'poll_votes/meal.html' %}

            {% endif %}
        </div>
    {% endfor %}
    {% if poll.category == 'intendance' or poll.category == 'meal' %}
        <button type="submit">Voter</button>
    {% endif %}
</form>
