{% load custom_filters %}

<h2>Options disponibles</h2>
<form method="post" action="{% url 'logistic' poll.id %}">
    {% csrf_token %}
    <ul>
        {% for option in unselected_options %}
            <li>
                {{ option }}
                <input type="hidden" name="vote_option_id" value="{{ option.id }}">
                <button type="submit">Je ramène</button>
            </li>
        {% endfor %}
    </ul>
</form>

<h2>Récapitulatif</h2>
<ul>
    {% for option_id, username in selected_options.items %}
        <li>
            {{ option }} ramené par {{ username }}
        </li>
    {% endfor %}
</ul>