{% load custom_filters %}

<h2>Les trucs utiles à ramener 👍🛌🔌</h2>
<form method="post" action="{% url 'logistic' poll.id %}">
    {% csrf_token %}
    <ul>
        {% for option in unselected_options %}
            <li>
                {{ option }}
                <input type="hidden" name="vote_option_id" value="{{ option.id }}">
                <button type="submit">Je ramène</button>
                
            </li>
            <br>
        {% endfor %}
    </ul>
</form>

<h2>Le petit récap 🙏</h2>
<ul>
    {% for option_id, username in selected_options.items %}
        <li>
            {{ logistic_vote_options|get_item:option_id }} ramené par {{ username }}
            {% if username == user.username %}
            <form method="post" action="{% url 'logistic' poll.id %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="vote_option_id" value="{{ option_id }}">
                <input type="hidden" name="action" value="remove">
                <button type="submit">J'annule</button>
            </form>
        {% endif %}
        </li>
        <br>
    {% endfor %}
</ul>