{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}


<a href="{% url 'home' %}" class="btn">Retour</a>
<br>
<h2>Les trucs utiles à ramener 👍🛌🔌</h2>
<form method="post" action="{% url 'logistic' poll.id %}">
    {% csrf_token %}
    {% for option in unselected_options %}
        <li>
            {{ option.logistic.name }}
            <button type="submit" name="action" value="add_{{ option.id }}">Je ramène</button>
        </li>
        <br>
    {% endfor %}
</form>

<h4>Le petit récap 🙏</h4>
<ul>
    {% for option_id, username in selected_options.items %}
        <li>
            {{ logistic_vote_options|get_item:option_id }} ramené par {{ username }}
            {% if username == user.username %}
            <form method="post" action="{% url 'logistic' poll.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" name="action" value="remove_{{ option_id }}">J'annule</button>
            </form>
            {% endif %}
        </li>
        <br>
    {% endfor %}
</ul>
{% endblock %}