{% load custom_filters %}

<body>
<form method="post" action="{% url 'poll_details' poll.id %}">
    {% csrf_token %}

    {% for option in vote_options %}
        <div>
            <li>
            {{ option }}
            <input type="radio" name="proposal_{{ option.id }}" value="🤮" id="dislike_{{ option.id }}"
                {% if user_votes_dict|get_item:option.id == '🤮' %}checked{% endif %}>
            <label for="dislike_{{ option.id }}">🤮</label>
            <input type="radio" name="proposal_{{ option.id }}" value="🤐" id="neutral_{{ option.id }}"
                {% if user_votes_dict|get_item:option.id == '🤐' %}checked{% endif %}>
            <label for="neutral_{{ option.id }}">🤐</label>
            <input type="radio" name="proposal_{{ option.id }}" value="😋" id="like_{{ option.id }}"
                {% if user_votes_dict|get_item:option.id == '😋' %}checked{% endif %}>
            <label for="like_{{ option.id }}">😋</label>
            </li>
        </div>
    {% endfor %}
    <br>
    <button type="submit">Voter</button>
</form>
</body>