<a href="{% url 'home' %}">◀ Retour à l'accueil </a>
<br>

<!-- Titre du sondage--> 
<h1>{{ poll.question }}</h1>

<!-- Si la catégorie du Poll est Game -->
{% if poll.category == 'game' %}
    {% include 'poll_votes/add_game.html' %}
    {% include 'poll_votes/show_and_delete_game.html' %}    
{% endif %}

<!-- Si la catégorie du Poll Intendance ou Meal -->
{% if poll.category == 'meal' %}
    {% include 'poll_votes/intendance_and_meal_form.html' %}
{% endif %}

<!-- Si la catégorie du Poll est Logistic -->
{% if poll.category == 'logistic' %}
    {% include 'poll_votes/logistic.html' %}
    <!! à supprimer ?-->
    {% comment %} {% inclure 'poll_votes/show_and_delete_logistic.html' %} {% endcomment %}
{% endif %}


{% if alert %}
    <div class="alert">
        {{ alert }}
    </div>
{% endif %}