body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 8%;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #666;
}

a {
    color: #174372d8;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

li {
    list-style-type: none;
    padding-bottom: 1%
}

.logout-btn{
    color: rgb(149, 32, 36);
    font-weight: bolder;
    font-size: 0.8em;
}

.option{
    display: inline-block;
    width: 15%;
}

.supp{
    padding-left: 2%;
    font-size: 0.8em;
}

.countdown{
    font-size: 0.7em;
    color: #666;
    margin-top: -12px; 
}