body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 8%;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #666;
}

button {
    width: 30%;
    font-size: 30px;
}

a {
    color: #174372d8;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

li {
    list-style-type: none;
    padding-bottom: 3% !important;
    font-size: 30px;
}

.polls-list{
    list-style-type: none;
    font-size: 18px;
}

.logout-btn{
    color: rgb(149, 32, 36);
    font-weight: bolder;
    font-size: 0.8em;
}

.option{
    display: inline-block;
    width: 38%;
    font-size: 1em;
}

.supp{
    padding-top: 1%;
    font-size: 0.75em;
}

.countdown{
    font-size: 0.7em;
    color: #666;
    margin-top: -12px; 
}

.payment{
    display: block;
}