{% load custom_filters %}

<div>   
    <span>{{ option.name }}</span>
    {% for choice in vote_choices %}
        <input 
            type="radio" 
            name="proposal_{{ option.id }}" 
            value="{{ choice }}" 
            id="{{ choice }}_{{ option.id }}"
            {% if user_votes_dict and user_votes_dict|get_item:option.id and user_votes_dict|get_item:option.id|get_item:request.user.username == choice %}
                checked
            {% endif %}>
        <label for="{{ choice }}_{{ option.id }}">{{ choice }}</label>
    {% endfor %}
</div>