{% load custom_filters %}

<form method="post" action="{% url 'poll_votes' poll.id %}">
    {% csrf_token %}

    {% for option in vote_options %}
        <div>
            <li>
                <span>{{ option.name }}</span>
                <input type="radio" name="proposal_{{ option.id }}" value="oui" id="oui_{{ option.id }}"
                {% for vote in user_votes_dict|get_item:option.id %}
                    {% if vote.user == request.user.username and vote.response == 'oui' %}
                        checked
                    {% endif %}
                {% endfor %}>
                <label for="oui_{{ option.id }}">Oui</label>
                <input type="radio" name="proposal_{{ option.id }}" value="non" id="non_{{ option.id }}"
                {% for vote in user_votes_dict|get_item:option.id %}
                    {% if vote.user == request.user.username and vote.response == 'non' %}
                        checked
                    {% endif %}
                {% endfor %}>
                <label for="non_{{ option.id }}">Non</label>
            </li>
        </div>
        
        <div>
            {% with option_users_dict|get_item:option.id as users %}
                <div>
                    {% if users.oui %}
                        ✋😊 {{ users.oui|join:", " }}
                    {% endif %}
                </div>
                <div>
                    {% if users.non %}
                        👎😭 {{ users.non|join:", " }}
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    {% endfor %}
    <br>
    <button type="submit">Voter</button>
</form>