<h1>MidWeek à Clairmarais</h1>
<h2>Du Vendredi 1er novembre au Mardi 5 novembre 2024</h2>
<br>
    <a href="https://www.google.fr/maps/place/12+Rue+du+Grand+Nieppe,+62500+Clairmarais/@50.7722557,2.3567329,17z/data=!4m15!1m8!3m7!1s0x47dcfbc8d4313b85:0x186c5dacaab74a5d!2s12+Rue+du+Grand+Nieppe,+62500+Clairmarais!3b1!8m2!3d50.7722523!4d2.3593078!16s%2Fg%2F11csckbl76!3m5!1s0x47dcfbc8d4313b85:0x186c5dacaab74a5d!8m2!3d50.7722523!4d2.3593078!16s%2Fg%2F11csckbl76?entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D" 
        target="_blank">
        <p><h2>Gîte de la Forêt</h2>
        12, Rue du Grand Nieppe, 62500 Clairmarais</p>
    </a>
{% comment %} Ajout de la description du gîte : {% endcomment %}e
<br>