<h1>{{ poll.question }}</h1>
<form method="post" action="{% url 'poll_details' poll.id %}">
    {% csrf_token %}
    {% for option in vote_options %}
        <div>
            <label>{{ option }}</label>
            {% if poll.category == 'intendance' %}
                <input type="radio" name="proposal_{{ option.id }}" value="oui"> Oui
                <input type="radio" name="proposal_{{ option.id }}" value="non"> Non
            {% else %}
                <input type="radio" name="proposal_{{ option.id }}" value="1"> 1
                <input type="radio" name="proposal_{{ option.id }}" value="2"> 2
                <input type="radio" name="proposal_{{ option.id }}" value="3"> 3
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Voter</button>
</form>
{% if alert %}
    <p>{{ alert }}</p>
{% endif %}