<h1>{{ poll.question }}</h1>
{% comment %} par exemple, "qu'est-ce qu'on mange?" {% endcomment %}
<form method="POST">
    {% csrf_token %}
    {% for proposal in proposals %}
        <div>
            <label>{{ proposal.name }}</label>
            <input type="radio" name="proposal_{{ proposal.id }}" value="1"> 1
            <input type="radio" name="proposal_{{ proposal.id }}" value="2"> 2
            <input type="radio" name="proposal_{{ proposal.id }}" value="3"> 3
        </div>
    {% endfor %}
    <button type="submit">Voter</button>
</form>