{% comment %} Bouton "Home" {% endcomment %}
<a href="{% url 'home' %}">◀ Retour à l'accueil </a>
<br>
{% comment %} Titre du Poll {% endcomment %}
<h1>{{ poll.question }}</h1>
<form method="post" action="{% url 'poll_details' poll.id %}">
    {% csrf_token %}
    {% for option in vote_options %}
        <div>
            <label>{{ option }}</label>
            {% if poll.category == 'intendance' %}
                <input type="radio" name="proposal_{{ option.id }}" value="oui"> Oui
                <input type="radio" name="proposal_{{ option.id }}" value="non"> Non
            {% elif poll.category == 'meal' %}
                <input type="radio" name="proposal_{{ option.id }}" value="🤮"> 🤮
                <input type="radio" name="proposal_{{ option.id }}" value="🤐"> 🤐
                <input type="radio" name="proposal_{{ option.id }}" value="😋"> 😋
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Voter</button>
</form>
{% if alert %}
    <p>{{ alert }}</p>
{% endif %}